@model DataAccessLayer.Dto.CartViewModel

<div class="col-lg-3 col-6 text-right">
    <a href="/Cart/Index" class="btn border">
        <i class="fas fa-heart text-primary"></i>
        <span class="badge">Sepet</span>
    </a>
    <a href="" class="btn border">
        <i class="fas fa-shopping-cart text-primary"></i>
        <span class="badge">@Model.GrandTotal</span>
    </a>
</div>
