
@{
    
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Login - SB Admin</title>
    <link href="~/Admin/css/styles.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>
<body class="bg-primary">
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-5">
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-header"><h3 class="text-center font-weight-light my-4">Kayıt Ol</h3></div>
                                <div class="card-body">
                                    <form method="post" asp-action="Index" asp-controller="Register" >
                                        <div class="form-floating mb-3">
                                            <input class="form-control" name="FirstName" id="inputEmail" type="text" placeholder="Adınız Girin" />
                                            <label for="inputEmail">Adınız Girin</label>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <input class="form-control" name="LastName" id="inputEmail" type="text" placeholder="SoyAdınız Girin" />
                                            <label for="inputEmail">SoyAdınız Girin</label>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <input class="form-control" name="UserName" id="inputEmail" type="text" placeholder="Kullancı Adınız Giriniz" />
                                            <label for="inputEmail">Kullancı Adını Girin</label>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <input class="form-control" name="Email" id="inputEmail" type="email" placeholder="name@example.com" />
                                            <label for="inputEmail">Mail Girin</label>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <input class="form-control" name="Phone" id="inputEmail" type="tel" placeholder="Telefon Numarınız Giriniz" />
                                            <label for="inputEmail">Telefon Numarınız Girin</label>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <input class="form-control" name="City" id="inputEmail" type="text" placeholder="Şehir Giriniz" />
                                            <label for="inputEmail">Şehir Girin</label>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <input class="form-control" id="inputPassword" type="password" name="Password" placeholder="Şifreniz" />
                                            <label for="inputPassword">Password</label>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <input class="form-control" id="inputPassword" type="password" name="ConfirmPassword " placeholder="Tekrar Şifreniz" />
                                            <label for="inputPassword">ConfirmPassword</label>
                                        </div>
                                        <div class="text-white" asp-validation-summary="ModelOnly"></div>
                                        <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                                            <a class="small" href="password.html">Forgot Password?</a>
                                            <input type="submit" value="Login" class="btn btn-primary" />
                                        </div>
                                    </form>
                                </div>
                                <div class="card-footer text-center py-3">
                                    <div class="small"><a href="register.html">Need an account? Sign up!</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <div id="layoutAuthentication_footer">
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; Your Website 2023</div>
                        <div>
                            <a href="#">Privacy Policy</a>
                            &middot;
                            <a href="#">Terms &amp; Conditions</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="~/Admin/js/scripts.js"></script>
</body>
</html>
