@model EntityLayer.Entities.Personel
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Delete</h1>

<h1>Delete</h1>
<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Personel Sil</h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <form method="post" action="Create">
        <div class="card-body">
            <input type="hidden" asp-for="@Model.PersonelId" />
            <div class="form-group">
                <label for="exampleInputEmail1">Personel Adı</label>
                <input type="text" disabled asp-for="@Model.PersonelName" class="form-control" id="exampleInputEmail1" placeholder="Personel Adını Girin">
            </div>



        </div>
        <!-- /.card-body -->

        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Silme</button>
            <a class="btn btn-secondary" asp-action="Index" asp-controller="Personel">İptal</a>
        </div>
    </form>
</div>